<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="shortcut icon" href="../static/calculator_icon.png" type="image/x-icon">
</head>
<body class="bg-light">
  <h1 class="bg-secondary text-dark text-center rounded-bottom">/==CALCULADORA==\</h1>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-6 col-lg-5">
        <div class="card shadow">
          <div class="card-body bg-dark rounded">

            <!-- Visor -->
            <div class="mb-3">
              <input type="text" class="form-control text-right form-control-lg" id="display" placeholder="0" readonly>
            </div>

            <div class="row" style="min-height: 320px;">
              <!-- Teclado numérico -->
              <div class="col-9 d-flex flex-column justify-content-between">
                <!-- Cada linha numérica -->
                <div class="row mx-0">
                  <div class="col-4 px-2 mb-2">
                    <button class="btn btn-secondary btn-lg w-100 py-3">7</button>
                  </div>
                  <div class="col-4 px-2 mb-2">
                    <button class="btn btn-secondary btn-lg w-100 py-3">8</button>
                  </div>
                  <div class="col-4 px-2 mb-2">
                    <button class="btn btn-secondary btn-lg w-100 py-3">9</button>
                  </div>
                </div>
                <div class="row mx-0">
                  <div class="col-4 px-2 mb-2">
                    <button class="btn btn-secondary btn-lg w-100 py-3">4</button>
                  </div>
                  <div class="col-4 px-2 mb-2">
                    <button class="btn btn-secondary btn-lg w-100 py-3">5</button>
                  </div>
                  <div class="col-4 px-2 mb-2">
                    <button class="btn btn-secondary btn-lg w-100 py-3">6</button>
                  </div>
                </div>
                <div class="row mx-0">
                  <div class="col-4 px-2 mb-2">
                    <button class="btn btn-secondary btn-lg w-100 py-3">1</button>
                  </div>
                  <div class="col-4 px-2 mb-2">
                    <button class="btn btn-secondary btn-lg w-100 py-3">2</button>
                  </div>
                  <div class="col-4 px-2 mb-2">
                    <button class="btn btn-secondary btn-lg w-100 py-3">3</button>
                  </div>
                </div>
                <div class="row mx-0">
                  <div class="col-4 px-2">
                    <button class="btn btn-secondary btn-lg w-100 py-3">0</button>
                  </div>
                  <div class="col-4 px-2">
                    <button class="btn btn-secondary btn-lg w-100 py-3">.</button>
                  </div>
                  <div class="col-4 px-2">
                    <button class="btn btn-primary btn-lg w-100 py-3">=</button>
                  </div>
                </div>
              </div>

              <!-- Operadores -->
              <div class="col-3 d-flex flex-column justify-content-between">
                <button class="btn btn-light btn-lg btn-block mb-2">+</button>
                <button class="btn btn-light btn-lg btn-block mb-2">−</button>
                <button class="btn btn-light btn-lg btn-block mb-2">×</button>
                <button class="btn btn-light btn-lg btn-block mb-2">÷</button>
                <button class="btn btn-danger btn-lg btn-block">C</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
    <script type="text/javascript">
    let numero1 = '';
    let numero2 = '';
    let operacao = '';
    let isSecond = false;

    const display = document.getElementById('display');
    const botoes = document.querySelectorAll('button');

    botoes.forEach(btn => {
        btn.addEventListener('click', () => {
        let valor = btn.innerText;

        if (!isNaN(valor) || valor === '.') {
            if (!isSecond) {
            numero1 += valor;
            display.value = numero1;
            } else {
            numero2 += valor;
            display.value = numero2;
            }
        } else if (['+', '−', '×', '÷'].includes(valor)) {
            operacao = valor;
            isSecond = true;
        }
         else if (valor === 'C') {
            numero1 = '';
            numero2 = '';
            operacao = '';
            isSecond = false;
            display.value = '';
        } else if (valor === '=') {
            fetch('/calcular', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                numero1: parseFloat(numero1),
                numero2: parseFloat(numero2),
                operacao: operacao
            })
            })
            .then(res => res.json())
            .then(data => {
            display.value = data.resultado;
            numero1 = data.resultado;
            numero2 = '';
            operacao = '';
            isSecond = false;
            })
            .catch(err => {
            display.value = 'Erro';
            console.error(err);
            });
        }
        });
    });
    </script>
</body>
</html>
